<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.ashera.coordinatorlayout"
        version="1.0">

  <name>CordovaCoordinatorLayout</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>
  
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="CordovaCoordinatorLayout">
        <param name="android-package" value="com.ashera.coordinatorlayout.CordovaCoordinatorLayoutPlugin"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>

   	 <!-- start src -->
     <source-file src="android/src/com/ashera/coordinatorlayout/CoordinatorLayoutImpl.java" target-dir="src/com/ashera/coordinatorlayout"/>
     <source-file src="android/src/com/ashera/coordinatorlayout/CoordinatorLayoutPlugin.java" target-dir="src/com/ashera/coordinatorlayout"/>
     <source-file src="android/src/com/ashera/coordinatorlayout/CordovaCoordinatorLayoutPlugin.java" target-dir="src/com/ashera/coordinatorlayout"/>
     <!-- src end -->
     <!-- start res -->

     <!-- res end -->
     <!-- start tsc -->
     <source-file src="android/tsc/src/android/widget/CoordinatorLayoutImpl.ts" target-dir="tsc/src/android/widget"/>
     <!-- tsc end -->
  </platform>
  <platform name="ios">
    <config-file target="config.xml" parent="/widget">
      <feature name="com.ashera.coordinatorlayout.ios">
        	<param name="ios-package" value="CordovaCoordinatorLayoutPlugin" />
         	<param name="onload" value="true" />
      </feature>
    </config-file>

   	 <!-- start ios -->
     <header-file src="ios/ios/src/CoordinatorLayoutImpl.h" target-dir="CoordinatorLayout/ios/src"/>
     <source-file src="ios/ios/src/CoordinatorLayoutImpl.m" target-dir="CoordinatorLayout/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <header-file src="ios/ios/src/CoordinatorLayoutPlugin.h" target-dir="CoordinatorLayout/ios/src"/>
     <source-file src="ios/ios/src/CoordinatorLayoutPlugin.m" target-dir="CoordinatorLayout/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <header-file src="ios/ios/src/CordovaCoordinatorLayoutPlugin.h" target-dir="CoordinatorLayout/ios/src"/>
     <source-file src="ios/ios/src/CordovaCoordinatorLayoutPlugin.m" target-dir="CoordinatorLayout/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <!-- ios end -->
     <!-- start AndroidXCoordinatorLayout -->
     <header-file src="ios/library/AndroidXCoordinatorLayout/src/CoordinatorLayout.h" target-dir="CoordinatorLayout/AndroidXCoordinatorLayout/src"/>
     <source-file src="ios/library/AndroidXCoordinatorLayout/src/CoordinatorLayout.m" target-dir="CoordinatorLayout/AndroidXCoordinatorLayout/src" compiler-flags="-fno-objc-arc"/>
     <header-file src="ios/library/AndroidXCoordinatorLayout/src/DirectedAcyclicGraph.h" target-dir="CoordinatorLayout/AndroidXCoordinatorLayout/src"/>
     <source-file src="ios/library/AndroidXCoordinatorLayout/src/DirectedAcyclicGraph.m" target-dir="CoordinatorLayout/AndroidXCoordinatorLayout/src" compiler-flags="-fno-objc-arc"/>
     <header-file src="ios/library/AndroidXCoordinatorLayout/src/HideBottomViewOnScrollBehavior.h" target-dir="CoordinatorLayout/AndroidXCoordinatorLayout/src"/>
     <source-file src="ios/library/AndroidXCoordinatorLayout/src/HideBottomViewOnScrollBehavior.m" target-dir="CoordinatorLayout/AndroidXCoordinatorLayout/src" compiler-flags="-fno-objc-arc"/>
     <!-- AndroidXCoordinatorLayout end -->
     <!-- start tsc -->
     <source-file src="ios/tsc/src/ios/widget/CoordinatorLayoutImpl.ts" target-dir="tsc/src/ios/widget"/>
     <!-- tsc end -->
  </platform>
  <platform name="browser">
    <config-file target="config.xml" parent="/*">
      <feature name="CordovaCoordinatorLayout">
        <param name="android-package" value="com.ashera.coordinatorlayout.CordovaCoordinatorLayoutPlugin"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>
    <framework src="browser/core.gradle" custom="true" type="gradleReference" />

   	 <!-- start src -->
     <!-- src end -->
     <!-- start res -->
     <!-- res end -->
     <!-- start tsc -->
     <source-file src="browser/tsc/src/web/widget/CoordinatorLayoutImpl.ts" target-dir="tsc/src/web/widget"/>
     <!-- tsc end -->
  </platform>
  <platform name="swt">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="CordovaCoordinatorLayout">
        <param name="android-package" value="com.ashera.coordinatorlayout.CordovaCoordinatorLayoutPlugin"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>
    <framework src="swt/core.gradle" custom="true" type="gradleReference" />

   	 <!-- start src -->
     <!-- src end -->
     <!-- start res -->
     <!-- res end -->
     <!-- start tsc -->
     <source-file src="swt/tsc/src/swt/widget/CoordinatorLayoutImpl.ts" target-dir="tsc/src/swt/widget"/>
     <!-- tsc end -->
  </platform>





</plugin>